@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
}

div {
    width: 100%;
    height: 200px;
    background-color: gray;
    /*border: 0.5px dashed lightcoral;*/
    display: flex;
}




/* navigation bar */
/* ---------------------------------------------------------------------------- */

.nav {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
}

.nav-container {
    display: flex;
    width: 75%;
    height: 80px;
    background-color: black;
}

/* >>> left logo */

.logo {
    width: 82px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-left: 1.25em;

}

.logo h1 {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
    border-radius: 2px;
    text-transform: capitalize;
    padding: 3.55px 4.75px;
}

.logo img {
    position: relative;
    width: 7.03px;
    height: 20.98px;
    top: 0px;
    left: 0px;


    transform: matrix(-0.9, 0.52, 0.4, 0.88, 0, 0);
}


/* >>> navigation links */

.navigation {
    display: flex;
    justify-content: left;
    width: 130%;
    align-items: center;
    height: 80px;
    background-color: black;
    margin-left: 4em
}

.navigation a {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s;
    margin-right: 3.55em;

}

.navigation a:hover {
    color: #F9804B;
    cursor: pointer;
}

/* >>> designed by */

.designed-by {
    display: flex;
    background-color: black;
    justify-content: right;
    align-items: center;
    height: 80px;
}

.designed-by a {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s;
}

.designed-by a:hover {
    color: #F9804B;
    cursor: pointer;
}



/* top photo */
/* ---------------------------------------------------------------------------- */

.top {
    background-image: url(../assets/images/head_panda.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 61%;
    height: 700px;
    display: flex;
    justify-content: center;
    border: none;
}

.top-container {
    width: 80%;
    height: 100%;
    display: flex;
    background: none;
}

.left-side {
    background: none;
    height: 100%;
}

.right-side {
    background: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-side button {
    width: 298px;
    height: 54px;
    margin: 4em 2em 0 12em;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: white;

}

.right-side button:hover {
    background: #E47209;
}

.right-side button:active {
    background: #4B9200;
}

.circle {
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-left: 1em;
    margin-top: 1em;
}

.circle h2 {
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-left: 0.75em;
    margin-top: 2em;
}

.circle h2 .yellow {
    color: #FFEE2E;
}


/* article */
/* ---------------------------------------------------------------------------- */

.article {
    background-color: white;
    border: none;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-container {
    background-color: rgb(255, 255, 255);
    width: 1161px;
    height: 400px;
    display: flex;
}

.art-left {
    width: 125%;
    height: 100%;
    background-image: url(../assets/images/article_farmer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;


}

.art-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5.5em;
    background: none;
}

.art-right h3 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

.art-right h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.art-right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}


/* animals section */
/* ---------------------------------------------------------------------------- */


.animals {
    background-color: white;
    border: none;
    height: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animals-container {
    width: 1365px;
    height: 875px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-content: center;
    border: none;
}

.animals-cards {
    width: 100%;
    height: 875px;
    border: none;
    justify-content: space-between;
    background-color: white;
    align-content: space-between;
    flex-wrap: wrap;


}

/* >>> single animal card */

.card {
    width: 366px;
    height: 426px;
    left: 0px;
    top: 0px;
    border: 2px solid orange;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.profile-photo {
    width: 100%;
    height: 370px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
    background-size: cover;
}

.text-card {
    display: flex;
    flex-direction: column;
    background: none;
    height: 100%;

}

.card h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.card p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

.info-card {
    display: flex;
    width: 100%;
    background-color: none;
    justify-content: space-between;
    align-content: center;
    height: 14%;
    padding: 5px 20px;
}

.food-type {
    width: 20%;
    background: none;
    height: 100%;
    justify-content: flex-end;
}

.food-style {
    width: 33px;
    height: 37px;
}

.food-style-meat {
    width: 48px;
    height: 38px;
}


/* arrows section */


.circle-arr {
    width: 9%;
    height: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 62px;
    height: 62px;
    background-color: #F9804B;
    border-radius: 50%;
}

.arrow:hover {
    background-color: #4B9200;
}

.circle-arr-right {
    width: 9%;
    height: 100%;
    background: none;
}

.button-animals {
    width: 1365px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.btn-choose {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}



/* pick a friend section */
/* ---------------------------------------------------------------------------- */

.pick {
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: space-between;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    ;
    justify-content: center;
    align-items: center;
}

.pick-container {
    width: 1160px;
    height: 835px;
    border-radius: 5px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 75px;
}

.pick-container h3 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;

}

.pick-container h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    text-align: left;
    width: 100%;

}

.p-texts {
    display: flex;
    flex-direction: column;
    background: none;
    height: 80px;
    justify-content: space-between;

}

.p-bold {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    word-wrap: break-word;
}

.fund-link {
    color: #333B41;
    text-decoration: none;
    border-bottom: 2px solid orange;
}

.pick-container h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;

}

.pick-scheme {
    background: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px;

}

.pick-block {
    background: none;
    display: flex;
    flex-direction: column;
    width: 168px;
    height: 250px;
}

.icon-info {
    padding-top: 20px;
}

.pick-icon1 {
    background-image: url(../assets/icons/pay_with_card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    border-radius: 5px;
    width: 168px;
    height: 168px;
}

.pick-icon2 {
    background-image: url(../assets/icons/payment_goes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    border-radius: 5px;
    width: 168px;
    height: 168px;
}

.pick-icon3 {
    background-image: url(../assets/icons/your_fav.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    border-radius: 5px;
    width: 168px;
    height: 168px;
}

.arrow-pick {
    background-image: url(../assets/icons/arrow_right_groovy.svg);
    background-repeat: no-repeat;
    background-size: cover;

    background-color: transparent;
    color: #ffffff;
    width: 69px;
    height: 35.08px;
    margin-top: 75px;
}



/* testimonoals section */
/* ---------------------------------------------------------------------------- */


.testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 922px;
    justify-content: space-between;
    background: white;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.testimonials-container {
    width: 1160px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.h3-testimonials {
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    background: none;
}

.h3-testimonials h3 {
    font-weight: 400;
    font-size: 36px;
    color: #333B41;
}

.usersOp {
    width: 1160px;
    height: 400px;
    background: none;
    display: flex;
    justify-content: space-between;
}

.userOp {
    width: 268px;
    height: 391px;
    background: none;
}

.userOp-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 15px;
    background-color: #F1F3F2;
    border-radius: 20px;
    border: 2px solid #FEBDAB;
}

.op-header {
    display: flex;
    justify-content: space-between;
    height: 38px;
    margin-bottom: 10px;
    background: none;
}

.op-info {
    display: flex;
    flex-direction: column;
    height: 38px;
    background: none;

}

.op-avatar-john {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(../assets/icons/icon_user.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    background-color: #F1F3F2;
}

.op-avatar-oskar {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(../assets/images/profile_oskar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.op-avatar-frederika {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(../assets/images/profile_frederika.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.op-avatar-mila {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(../assets/images/profile_mila.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.op-body {
    background: none;
    width: 237px;
    height: 309px;
}

.op-body p {
    overflow: hidden;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    text-align: left;
    color: #767474;
}

.op-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    background: none;
}

.op-local {
    background: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.op-bar {
    width: 599px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 217, 217);
    width: 599px;
    height: 8px;
}

.leave-btn-section {
    display: flex;
    height: 54px;
    width: 100%;
    justify-content: left;
    background: none;
}

.leave-feedback {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/* footer section */
/* ---------------------------------------------------------------------------- */

.footer {
    width: 100%;
    height: 450px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 1160px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

/* left column */

.logo-footer {
    width: 82px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 50px;

}

.logo-footer h1 {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
    border-radius: 2px;
    text-transform: capitalize;
    padding: 3.55px 4.75px;
}

.left-column {
    background: none;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.donate-footer {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 35px;
}


.social-link {
    display: flex;
    background: none;
    height: 25px;
    padding: 5px 0;
    justify-content: left;
    align-items: center;
}

.social-media {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-transform: capitalize;
    text-decoration: none;
}

.social-media:hover {
    color: #F9804B;

}

.footer-icon {
    width: 26px;
    height: 26px;
    display: flex;
    margin-right: 10px;
}


/* middle column */

.middle-column {
    background: none;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.middle-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background: none;
}

.middle-link a {
    color: pink;
}


/* right column */

.right-column {
    background: none;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.right-top {
    display: flex;
    flex-direction: column;
    background: none;
    height: 25%;
}

.right-bottom {
    background: none;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer-author {

    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 50px;
}

.footer-author a {
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
}

.subscribe-footer {
    background: none;
    display: flex;
    flex-direction: column;

}



.subscribe-footer h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.submit-footer {
    display: flex;
    height: 42px;
    width: 100%;
    justify-content: space-between;
    background: none;
}

.submit-footer input {
    width: 60%;
    background: black;
    border: 1px solid orange;
    border-radius: 2px;
}

input {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
    padding-left: 10px;
}

input::placeholder {}

.submit-button {
    width: 129px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
}

.submit-button:hover {
    color: #4B9200;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
}

.footer-author {
    display: flex;
    flex-direction: column;
    background: none;
}

.footer-author a {}